*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    border: 2px solid black;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
header{
    text-align: center;
    padding-bottom: 30px;
}
h1{
    padding-bottom: 40px;
    color: #e64470;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.box{
    border: 1px solid black;
    width: calc(100% / 3);
    float: left;
}
/* .clearfix{
    overflow: auto;
} */