*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    border: 2px solid black;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
header{
    text-align: center;
    padding-bottom: 30px;
}
h1{
    padding-bottom: 40px;
    color: #e64470;
}
h3{
    padding-bottom: 5px;
}
img{
    width: 80px;
    vertical-align: middle;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.box{
    border: 1px solid black;
    width: calc(100% / 3);
    float: left;
}
.debug{
    float:left;
    padding-right: 10px;
}
.team-member{
    vertical-align: middle;
    padding-top: 10px;
    padding-right: 30px;
}
#role{
    line-height: 20%;
}