/* general */
:root{
    --color-light: #ffffff;
    --color-dark: #0f0e17;
    --color-primary: #e64470; 
    --color-secondary: #59bbd5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}